body{
    font-family: "Happy Monkey", system-ui;
    background-color: aquamarine;
    text-align: center;
    color: aliceblue;
    text-shadow: -1px 0px black;
    
    
}
#sophi{
    width: 300px;
    border-radius: 50%;
    border: 8px solid pink;
}
.such-blessing{
    background-color: pink;
    padding: 3px 3px 2px 4px;
    margin-bottom: 8px; 
    margin-top: 30px;
}
.datt{
    background-color: pink;
    margin-top: 0px;
    padding: 3px 3px 2px 4px; 
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{
    width: 400px;
    border: 4px solid  white;
    border-radius: 3px;
    height: 400px;
    background-image: url(gift.jpeg);
    background-size: cover;
}
.so-happy{
    margin-bottom: 0%;
}
.gift{
    margin-top: 3px;
    margin-bottom: 5px;
}
.img1:hover{
    background-image: url(happy\ \(1\).gif);
}